<%- include("partials/header"); -%>

  <form action="/compose" method="post" class="py-10 px-20">
    <h1 class="text-2xl">Compose Your Blog here</h1>
    <div class="form-group">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Give a Nice Title to Your
            Blog</label>
          <div class="mt-2">
            <div
              class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-gray-900 sm:max-w-md">
              <input type="text" name="postTitle" id="postTitle" autocomplete="off"
                class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" />
            </div>
          </div>
        </div>
        <div class="col-span-full">
          <label for="postBody" class="block text-sm font-medium leading-6 text-gray-900">Write the Blog Content
            here</label>
          <div class="mt-2">
            <textarea id="about" name="postBody" rows="20" cols="20" wrap="hard"
              class="text-lg bg-slate-100 sm:leading-6 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm whitespace-pre-wrap leading-5"></textarea>
          </div>
        </div>
        <div class="mt-6 flex items-center justify-start gap-x-10">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900" onclick="clear()" id="Cancel">
            Reset
          </button>
          <button type="submit"
            class="rounded-md bg-slate-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600"
            name="button">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
  <script type="text/javascript">
    const btn = document.getElementById("Cancel");
    const title = document.getElementById("postTitle");
    const body = document.getElementById("about");
    const textArea = document.getElementById("textArea");
    btn.addEventListener("click", function () {
      title.value = "";
      body.value = "";
    });
  </script>
  <%- include("partials/footer"); -%>